<%= form_with  url: task_subtask_comments_path(@subtask.task, @subtask), method: :post, local: false do |f| %>
  <!--エラーメッセージ-->
  <!--<= render 'layouts/error_messages', model: f.object %>-->
  <div class="form-group">
    <%= f.text_area :comment, :size => "3x3", placeholder: "コメントを入力してください", autofocus: true, class: "form-control" %>
  </div>
  <div class="text-center my-4">
    <%= f.submit "投稿する", class: "btn btn-outline-secondary px-5" %>
  </div>
<% end %>