<%= form_with  url: task_subtask_comments_path(@subtask.task, @subtask), method: :post, local: false do |f| %>
  <!--エラーメッセージ-->
  <!--<= render 'layouts/error_messages', model: f.object %>-->
  <div class="form-group">
    <%= f.label :コメントを投稿する %>
    <%= f.text_area :comment, :size => "3x3", placeholder: "コメントを入力してください", class: "form-control" %>
  </div>
  <div class="text-right">
    <%= f.submit "コメントする", class: "btn btn-warning text-white" %>
  </div>
<% end %>