<%= comment.subtask.member.display_name %>
<%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% if comment.member == current_member %>
    <div class="form-group">
      <%= link_to "削除", ptask_subtask_comment_path(comment.subtask, comment), method: :delete, data: {confirm: "本当に削除しますか？"} %>
    </div>
  <% end %>
 