<div style="text-align:center;">
  <hr class="col-md-6">
  <h6 class="text-center"><strong>コメント一覧 <%= subtask.comments.count %>件</strong></h6>
  <hr class="col-md-6 mt-2">
</div>
<!--コメントが2件以上の場合、残りのコメントをプルダウンで表示するボタンの作成-->
<% if comments.length  > 2 %>
  <% comments.where(parent_id: nil).each_with_index  do |comment, index| %>
    <%if index + 1 < 3 %>
      <%= render "public/comments/hide_comments", comment: comment %>
    <%else %>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <%= render "public/comments/hide_comments", comment: comment %>
        </div>
      </div>
    <%end%>
  <% end %>
    <div class="text-center mt-5">
      <button type="button" class="btn btn btn-secondary px-5" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        もっと見る
      </button>
    </div>
  <%else%>
  <% comments.where(parent_id: nil).each do |comment| %>
    <%= render "public/comments/hide_comments", comment: comment %>
  <% end %>
<%end%>


