$("#comments-form").html("<%= j(render "public/comments/form", comment: @comment, subtask: @subtask, comment_reply: @comment_reply) %>");
$("#comments-index").html("<%= j(render "public/comments/index", comments: @comments, subtask: @subtask, comment_reply: @comment_reply) %>");
$("#comments-count").html("<%= j(render "public/comments/count", comments: @comments, subtask: @subtask) %>");
$("textarea").val('');
<!--$(".flash").html('<div class="alert alert-secondary" style="text-align:center;"><%#= @message %></div>');-->
