$("#comments-index").html("<%= j(render "public/comments/index", comments: @comments, subtask: @subtask, comment_reply: @comment_reply) %>");
$(".flash_message").html('<div class="alert alert-secondary" style="text-align:center;"><%= @flash_message %></div>');
