<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2 class="mt-4">子タスク投稿</h2>
      <%= render "form", subtask: @subtask %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>子タスク</h2>
      <%= render "index", subtasks: @subtasks %>
    </div>
  </div>
</div>