<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 my-4">
      <h1 class="text-center"><strong>Commitment.</strong></h1>
      <div class="text-center mb-5">
        <br>
        <p>チーム内のタスク進捗を見える化し共有し、お互いの作業内容を把握して協力しながら進めるためのコミュニティ型タスク管理ツールです。</p>
        <p>達成感を感じつつ課題に取り組むことができ、それぞれの進捗状況を共有することで自身のモチベーションにつなげることができます。</p>
        <br>
      </div>
      <h4 class="text-center"><strong>Commitment.を使うメリット</strong></h4>
      <hr>
      <div class="text-left my-4 mb-5">
        <p>● チーム全員のタスクを見える化することで、お互いの取り組み状況が<br>わかりやすくなります。</p>
        <p>● そのため、作業のやり取りがスムーズになります。</p>
      </div>
      <h4 class="text-center"><strong>Commitment.の主な機能</strong></h4>
      <hr>
      <div class="text-left my-4">
        <p>● 親課題と子課題にタスクを分割</p>
        <p>● 作業の進捗状況を可視化</p>
      </div>
    </div>
  </div>
</div>
