<td>
  <% if task.task_favorited_by?(current_member) %>
    <%= link_to task_subtask_task_favorites_path(task), method: :delete, remote: true do %>
      <i class="fa-solid fa-star"></i> <%= task.task_favorites.count %>
    <% end %>
  <% else %>
    <%=link_to task_subtask_task_favorites_pathtask(task), method: :post, remote: true do %>
      <i class="fa-regular fa-star"></i> <%= task.task_favorites.count %>
    <% end %>
  <% end %>
</td>