<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-2 offset-md-1 mt-4">
      <th>承認待ちユーザ一覧</th>
    </div>


<%#= link_to "承認", task_approval_request_path(@task), class: "btn btn-outline-primary" %>
<%#= link_to "非承認", task_non_approval_request_path(@task), class: "btn btn-outline-primary" %>
