<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2 class="mt-4">親タスク投稿</h2>
      <%= render 'form', task: @task %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>親タスク</h2>
      <%= render "index", tasks: @tasks%>
    </div>
  </div>
</div>