<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-2 offset-md-1 mt-4">
      <table class="table table-hover table-inverse" style="text-align:center;">
        <thead>
          <tr>
            <th>リクエスト会員</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-md-10 offset-md-1">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>表示名</th>
          </tr>
        </thead>
        <% @task.members.seach do |member| %>
          <tbody>
            <tr>
              <td>
                
              </td>
              <td><%= member.user_name %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <div class="text-center">
        <div class="mx-auto" style="width: 100px;">
          <%= paginate @task %>
        </div>
      </div>
    </div>
  </div>
</div>