<footer class="fixed-bottom" style="background-color: #A9A9A9; bottom: 0; width:100%; margin-top: auto; ">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <p class="text-center my-2", style="color: white;">© omu-m 2022 Commitment.</p>
      </div>
    </div>
  </div>
</footer>